html {
  width: 1;
  background: 2px 3px 4px green;
  color: 5px 6px 7px red, 2px 3px 4px green, 3px 4px 5px blue;
  h1: 1px 2px 3px red, 1px 2px 3px red, 2px 3px 4px green, 3px 4px 5px blue;
  h2: 2; }
