h1 {
  font-size: 55px;
  line-height: 6px; }

h2 {
  font-size: 45px;
  line-height: 5px; }

h3 {
  font-size: 40px;
  line-height: 4px; }

h4 {
  font-size: 30px;
  line-height: 3px; }

h5 {
  font-size: 25px;
  line-height: 3px; }

h6 {
  font-size: 15px;
  line-height: 2px; }

h1 {
  width: 80px; }

h2 {
  width: 80px; }

h3 {
  width: 80px; }

h4 {
  width: 80px; }

h5 {
  width: 80px; }

h6 {
  width: 80px; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 16px; }

k1 {
  font-size: 55px; }

k2 {
  font-size: 45px; }

k3 {
  font-size: 40px; }

k4 {
  font-size: 30px; }

k5 {
  font-size: 25px; }
